body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    transition: background 0.4s, color 0.4s;
}

/* Light Theme */
body.light {
    background: #fdfdfd;
    color: #222;
}

/* Dark Theme */
body.dark {
    background: #1b0e1c;
    color: #f1f1f1;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

/* Toggle */
.toggle {
    position: relative;
    width: 70px;
    height: 34px;
    display: inline-block;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: #ccc;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    transition: 0.3s;
    color: white;
}

.slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 1;
}

.icon {
    font-size: 18px;
    z-index: 2;
}

/* Checked State */
input:checked + .slider {
    background: #c5a5c5;
}

input:checked + .slider::before {
    transform: translateX(36px);
}