* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.4s ease;
}

.main-heading {
    margin: 40px 0;
    letter-spacing: 4px;
}

.theme-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.theme-box {
    background: #f4f4f4;
    padding: 18px 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Toggle switch*/
.toggle {
    position: relative;
    width: 60px;
    height: 30px;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 4px;
    top: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+.slider {
    background-color: #888;
}

input:checked+.slider::before {
    transform: translateX(30px);
}